<div class="btn-container">
    <div class="heading-area">
        <span class="heading">Summarize your lectures the easy way...</span>
        <span class="desc">Upload either a lecture video or pdf or both and generate the summaries in seconds.</span>
    </div>
    <div class="upload">
        <video [src]="urlVideo" *ngIf="format==='video' && urlVideo" height="200" controls></video>
        <label class="upload-btn">
            <input type='file' (change)="onSelectFile($event)"/>
            <i class="fa fa-cloud-upload"></i> Upload Video
        </label>
        <label class="upload-btn-pdf">
            <input type='file' (change)="pdfUpload($event)"/>
            <i class="fa fa-cloud-upload"></i> Upload PDF
        </label>
    </div>
    <button class="generate-btn" (click)="generateText()">Generate</button>
</div>
